POSTGRES_USER=auth
POSTGRES_PASSWORD=auth_password
POSTGRES_DB=auth
POSTGRES_PORT=5432
MEMCACHED_PORT=11211
APP_GRPC_PORT=50051
SMTP_PORT=1025
MAILPIT_UI_PORT=8025

DB_HOST=localhost
DB_PORT=5432
DB_USER=auth
DB_PASSWORD=auth_password
DB_NAME=auth

CACHE_HOST=localhost
CACHE_PORT=11211

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=no-reply@auth.local

PROVIDER_PUBLIC_KEY_PATH=infra/keys/public.pem
PROVIDER_PRIVATE_KEY_PATH=infra/keys/private.pem
PROVIDER_ACCESS_TOKEN_TTL=86400
PROVIDER_REFRESH_TOKEN_TTL=2592000

GRPC_HOST=0.0.0.0
GRPC_PORT=50051
GRPC_REQUEST_TIMEOUT_SECONDS=15
GRPC_RESPONSE_TIMEOUT_SECONDS=15
